<div class="list-table">
    <ul>
        <%- partial('_partial/list', {pagination: config.category, index: true}) %>
        <%/*- partial('_partial/archive', {pagination: config.category, index: true}) */%>
    </ul>
</div>
