#toc.toc-article
  background #1c1c1f
  margin 1.6em 0 1.6em 2em
  line-height 1.5em
  font-size 0.9em
  -webkit-border-radius 4px
  border-radius 4px
  min-height: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-right -24px
  max-width 30%
  .toc-title
      margin: 8px
  h2, ol, li
    padding 0 0.4em
    margin 0
  h2, li
    cursor pointer

  @media mq-mobile
    margin 1.6em 0
    width 100%
    max-width 100%
  @media mq-tablet
    margin 1.6em 0
    width 30%
    max-width 30%
#toc
  line-height 1.3em
  font-size 0.8em
  padding: 15px
  @extend $block
  float: right
  .toc
    li
      list-style-type none
    a
      color: color-link
      text-decoration: none
      font-family: font-logo
      font-size 15px
      &:hover
        text-decoration: underline
  .toc-child
    padding-left 1.5em
    line-height: 1.6em
